<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title> An About Us Page</title>
  <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <header id="nav-wrapper">
        <nav id="nav">
          <div class="nav left">
            <span class="gradient skew"><h1 class="logo un-skew"><a href="/home">MemeMuseum</a></h1></span>
            <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
          </div>
          <div class="nav right">
            <a href="/home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
            <a href="/about" class="nav-link active"><span class="nav-link-span"><span class="u-nav">About Us</span></span></a>
            <a href="/login" class="nav-link"><span class="nav-link-span"><span class="u-nav">Login</span></span></a>
            <a href="/register" class="nav-link"><span class="nav-link-span"><span class="u-nav">Register</span></span></a>
          </div>
        </nav>
      </header> 
  <section class="about-us">
    <div class="about">
      <div class="text">
        <h2>About Us</h2>
        <h5>Meme<span>Museum</span></h5>
          <p> The Meme Museum is a virtual museum dedicated to preserving and celebrating the rich history of internet memes. Whether you're a meme enthusiast, a pop culture aficionado, or simply curious about the cultural phenomenon that is memes, we invite you to explore our virtual halls, laugh out loud, and share the joy of memes with your friends and fellow visitors.</p>
        <div class="data">
        <h5>Join us to experience the real fun</h5>
        </div>
      </div>
    </div>
  </section>
</body>
</html>